URL_THE_BULLY_IN_CHARGE=http://localhost:3000/manga/the-bully-in-charge/
URL_ONE_PIECE=http://localhost:3000/anime/one-piece/
GITHUB_ADMINLTE=colorlibhq/adminlte
GITHUB_BROWSER=lightpanda-io/browser
YOUTUBE_BENNIX=Bennix
YOUTUBE_PZN=ProgrammerZamanNow
DB_PATH=./data/scrapper.db
INTERVAL_MINUTES=10
SCRAP_ON_START=false
PORT=3000
CLEANUP_INTERVAL_MINUTES=60
URL_GHOST_IN_THE_CELL=http://localhost:3000/movie/ghost-in-the-cell/
